<div class="overlay" (click)="closable() && onDismissed.emit()"></div>

<div
	class="modal relative"
	[style]="{
		top: top() || '0',
		bottom: top() ? undefined : '0',
		width: width() || '350px',
		height: height() || 'fit-content',
		'max-width': maxWidth() || 'calc(100vw - 1rem)',
		'max-height': maxHeight() || 'calc(100vh - 1rem)',
	}"
>
	<div class="header" [ngClass]="{ 'absolute z-10': floatingHeader() }">
		<span class="flex gap-2">
			@if (headerIconUrl()) {
				<bg-img [url]="headerIconUrl()" />
			}
			<span class="font-bold"> {{ header() }} </span>
		</span>

		@if (closable()) {
			<p-button
				icon="pi pi-times"
				[rounded]="true"
				severity="danger"
				[outlined]="true"
				(onClick)="onDismissed.emit()"
			/>
		}
	</div>

	<div class="content">
		<ng-content />
	</div>

	@if (isLoading()) {
		<div class="spinner-container rounded-lg">
			<div class="spinner"></div>
		</div>
	}
</div>
