.status-badge__online {
	background-color: rgb(51 176 116 / 1);
}

.status-badge__busy {
	background-color: rgb(245 225 71 / 1);
}

.status-badge__offline {
	background-color: rgb(119 123 132 / 1);
}

/* Dropdown Container */
.dropdown-container {
	@apply absolute z-30 w-64 px-2 py-2 bg-white border rounded-md shadow-xl
		left-3 rtl:left-auto rtl:right-3 bottom-16 dark:bg-slate-800
		 dark:border-slate-700 block visible;
}

/* Dropdown Menu */

.dropdown-menu {
	@apply mt-0 mb-3 p-0 !important;
}
/* List Item */
.list-item {
	@apply list-none mb-1;
}

.list-item-disabled {
	@apply inline-flex list-none text-xs text-slate-600 dark:text-slate-100
		mt-1 font-medium w-full block text-left rtl:text-right
		whitespace-nowrap p-2;
}

.list-item-divider {
	@apply list-none my-1 mx-0 border-b border-slate-50 dark:border-slate-700;
}

/* Menu Item */
.menu-item {
	@apply flex items-baseline mb-1;
}

.menu-item-justify {
	@apply flex items-center justify-between p-2 m-0;
}

/* Button Styling */

.button-toggle {
	@apply p-0 mx-1 mt-px mb-0;
}

/* Status Badge */
.status-badge {
	@apply rounded-full w-2.5 h-2.5 mr-0.5 rtl:mr-0 rtl:ml-0.5 inline-flex;
}

.status-badge-online {
	@apply status-badge__online;
}

.status-badge-busy {
	@apply status-badge__busy;
}

.status-badge-offline {
	@apply status-badge__offline;
}

/* Additional Styles */
.flex-center {
	@apply flex items-center;
}

.text-xs-medium {
	@apply text-xs font-medium text-slate-600 dark:text-slate-100;
}
