<div class="dropdown-container">
	<ul class="dropdown-menu">
		<li class="list-item-disabled" aria-disabled="true">
			<span>Set yourself as</span>
		</li>
		<li class="menu-item" aria-disabled="false">
			<p-button
				class="button-secondary-transparent w-full"
				label="Online"
				size="small"
				variant="text">
				<div class="status-badge status-badge-online"></div>
			</p-button>
		</li>
		<li class="menu-item" aria-disabled="false">
			<p-button
				class="button-secondary-transparent w-full"
				label="Busy"
				size="small"
				variant="text">
				<div class="status-badge status-badge-busy"></div>
			</p-button>
		</li>
		<li class="menu-item" aria-disabled="false">
			<p-button
				class="button-secondary-transparent w-full"
				label="Offline"
				size="small"
				variant="text">
				<div class="status-badge status-badge-offline"></div>
			</p-button>
		</li>

		<p-divider />

		<li class="list-item-divider" aria-disabled="true"></li>
		<li class="menu-item-justify" aria-disabled="false">
			<div class="flex-center">
				<i class="pi pi-info-circle mr-2 text-slate-400 text-sm"></i>
				<span class="text-xs-medium">Mark offline automatically</span>
			</div>
			<p-toggleswitch class="flex" />
		</li>

		<li class="list-item-divider" aria-disabled="true"></li>
		<p-divider />
	</ul>

	<ul class="dropdown-menu">
		<li class="menu-item" aria-disabled="false">
			<p-button
				(click)="showKeyboardShortcutsDialog()"
				class="button-secondary-transparent w-full"
				label="Keyboard Shortcuts"
				size="small"
				variant="text">
				<keyboard-icon class="flex" />
			</p-button>
		</li>

		<li class="menu-item" aria-disabled="false">
			<p-button
				class="button-secondary-transparent w-full"
				label="Profile Setting"
				size="small"
				variant="text"
				icon="pi pi-user" />
		</li>
		<li class="menu-item" aria-disabled="false">
			<p-button
				class="button-secondary-transparent w-full"
				label="Change Appearance"
				size="small"
				variant="text"
				icon="pi pi-palette" />
		</li>
		<li class="menu-item" aria-disabled="false">
			<p-button
				class="button-secondary-transparent w-full"
				label="Logout"
				size="small"
				variant="text"
				icon="pi pi-power-off" />
		</li>
	</ul>
</div>

<p-dialog
	appendTo="body"
	header="Keyboard Shortcuts"
	[modal]="true"
	[(visible)]="visible">
	<keyboard-shortcuts-popover />
</p-dialog>
