<div class="dropdown-container">
	<ul class="dropdown-menu">
		<li class="list-item-disabled" aria-disabled="true">
			<span>Set yourself as</span>
		</li>
		<li class="menu-item" tabindex="-1" aria-disabled="false">
			<button
				class="button clear small secondary status-change--dropdown-button"
			>
				<span class="button-content">
					<div class="status-badge status-badge-online"></div>
					Online
				</span>
			</button>
		</li>
		<li class="menu-item" tabindex="-1" aria-disabled="false">
			<button
				class="button clear small secondary status-change--dropdown-buttons"
			>
				<span class="button-content">
					<div class="status-badge status-badge-busy"></div>
					Busy
				</span>
			</button>
		</li>
		<li class="menu-item" tabindex="-1" aria-disabled="false">
			<button
				class="button clear small secondary status-change--dropdown-button"
			>
				<span class="button-content">
					<div class="status-badge status-badge-offline"></div>
					Offline
				</span>
			</button>
		</li>
		<li class="list-item-divider" aria-disabled="true"></li>
		<li class="menu-item-justify" tabindex="-1" aria-disabled="false">
			<div class="flex-center">
				<more-info-icon />
				<span class="text-xs-medium">Mark offline automatically</span>
			</div>
			<button class="button-toggle" role="switch" aria-checked="true">
				<span aria-hidden="true" class="active"></span>
			</button>
		</li>
		<li class="list-item-divider" aria-disabled="true"></li>
	</ul>
	<ul class="dropdown-menu">
		<li class="menu-item" tabindex="-1" aria-disabled="false">
			<button (click)="showDialog()" class="button clear small secondary">
				<keyboard-icon />
				<span class="button-content">Keyboard Shortcuts</span>
			</button>
		</li>

		<li class="menu-item" tabindex="-1" aria-disabled="false">
			<a
				href="/app/accounts/4/profile/settings"
				class="h-8 bg-white button small clear secondary dark:bg-slate-800"
			>
				<user-icon />
				<span class="button-content">Profile Settings</span>
			</a>
		</li>
		<li class="menu-item" tabindex="-1" aria-disabled="false">
			<button class="button clear small secondary">
				<appearance-icon />
				<span class="button-content">Change Appearance</span>
			</button>
		</li>
		<li class="menu-item" tabindex="-1" aria-disabled="false">
			<button class="button clear small secondary">
				<power-icon />
				<span class="button-content">Logout</span>
			</button>
		</li>
	</ul>
</div>

<p-dialog
	appendTo="body"
	header="Keyboard Shortcuts"
	[modal]="true"
	[(visible)]="visible"
>
	<keyboard-shortcuts-popover />
</p-dialog>
