<div #tabContainer class="mobile-category-list">
	<ul class="group-list">
	  <li><a (click)="scrollToCategory('category1')" [class.active]="activeCategoryId === 'category1'" id="tab-category1">فطورات</a></li>
	  <li><a (click)="scrollToCategory('category2')" [class.active]="activeCategoryId === 'category2'" id="tab-category2">معجنات</a></li>
	  <li><a (click)="scrollToCategory('category3')" [class.active]="activeCategoryId === 'category3'" id="tab-category3">بيتزا</a></li>
	  <li><a (click)="scrollToCategory('category4')" [class.active]="activeCategoryId === 'category4'" id="tab-category4">فتات</a></li>
	  <li><a (click)="scrollToCategory('category5')" [class.active]="activeCategoryId === 'category5'" id="tab-category5">مقبلات باردة</a></li>
	  <li><a (click)="scrollToCategory('category6')" [class.active]="activeCategoryId === 'category6'" id="tab-category6">مقبلات ساخنة</a></li>
	  <li><a (click)="scrollToCategory('category7')" [class.active]="activeCategoryId === 'category7'" id="tab-category7">سلطات</a></li>
	  <li><a (click)="scrollToCategory('category8')" [class.active]="activeCategoryId === 'category8'" id="tab-category8">الكبب</a></li>
	  <li><a (click)="scrollToCategory('category9')" [class.active]="activeCategoryId === 'category9'" id="tab-category9">شوربات</a></li>
	  <li><a (click)="scrollToCategory('category10')" [class.active]="activeCategoryId === 'category10'" id="tab-category10">اكلات شامية</a></li>
	  <li><a (click)="scrollToCategory('category11')" [class.active]="activeCategoryId === 'category11'" id="tab-category11">شاورما</a></li>
	</ul>
  </div>



