

 <aside class="stiky-content">
    <a  (click)="scrollToCategory('category1')" [class.active]="activeCategoryId === 'category1'"   title="فطورات" class=""><i class="fas fa-chevron-left"></i><span class="">فطورات</span> </a>
    <a  (click)="scrollToCategory('category2')" [class.active]="activeCategoryId === 'category2'"   title="معجنات" class="">      <i class="fas fa-chevron-left"></i><span class="">معجنات</span></a>
    <a  (click)="scrollToCategory('category3')" [class.active]="activeCategoryId === 'category3'"   title="بيتزا" class="">       <i class="fas fa-chevron-left"></i><span class="">بيتزا</span></a>
    <a  (click)="scrollToCategory('category4')" [class.active]="activeCategoryId === 'category4'"   title="فتات" class="">        <i class="fas fa-chevron-left"></i><span class="">فتات</span></a>
    <a  (click)="scrollToCategory('category5')" [class.active]="activeCategoryId === 'category5'"   title="مقبلات باردة" class=""> <i class="fas fa-chevron-left"></i> <span class="">مقبلات باردة</span></a>
    <a  (click)="scrollToCategory('category6')" [class.active]="activeCategoryId === 'category6'"   title="مقبلات ساخنة" class=""> <i class="fas fa-chevron-left"></i> <span class="">مقبلات ساخنة</span></a>
    <a  (click)="scrollToCategory('category7')" [class.active]="activeCategoryId === 'category7'"   title="سلطات" class="">       <i class="fas fa-chevron-left"></i><span class="">سلطات</span></a>
    <a  (click)="scrollToCategory('category8')" [class.active]="activeCategoryId === 'category8'"   title="الكبب" class="">       <i class="fas fa-chevron-left"></i><span class="">الكبب</span></a>
    <a  (click)="scrollToCategory('category9')" [class.active]="activeCategoryId === 'category9'"   title="شوربات" class="">      <i class="fas fa-chevron-left"></i><span class="">شوربات</span></a>
    <a  (click)="scrollToCategory('category10')" [class.active]="activeCategoryId === 'category10'" title="اكلات شامية" class="">  <i class="fas fa-chevron-left"></i> <span class="">اكلات شامية</span></a>
    <a  (click)="scrollToCategory('category11')" [class.active]="activeCategoryId === 'category11'" title="شاورما" class="">  <i class="fas fa-chevron-left"></i> <span class="">شاورما</span></a>
    <!-- <a onclick="scrollToCategory(event, 'category12')" href="#" title="المشويات" class="">  <i class="fas fa-chevron-left"></i> <span class="">المشويات</span></a>
    <a onclick="scrollToCategory(event, 'category13')" href="#" title="الفخاريات" class="">  <i class="fas fa-chevron-left"></i> <span class="">الفخاريات</span></a>
    <a onclick="scrollToCategory(event, 'category14')" href="#" title="وجبات الغربي" class="">  <i class="fas fa-chevron-left"></i> <span class="">وجبات الغربي</span></a>
    <a onclick="scrollToCategory(event, 'category15')" href="#" title="وجبات الغربي اللحم" class="">  <i class="fas fa-chevron-left"></i> <span class="">وجبات الغربي اللحم</span></a>
    <a onclick="scrollToCategory(event, 'category16')" href="#" title="بحريات" class="">  <i class="fas fa-chevron-left"></i> <span class="">بحريات</span></a>
    <a onclick="scrollToCategory(event, 'category17')" href="#" title="جاط مقبلات" class="">  <i class="fas fa-chevron-left"></i> <span class="">جاط مقبلات</span></a>
    <a onclick="scrollToCategory(event, 'category18')" href="#" title="جاط سلاطات" class="">  <i class="fas fa-chevron-left"></i> <span class="">جاط سلاطات</span></a>
    <a onclick="scrollToCategory(event, 'category19')" href="#" title="الشاميات بالكيلو" class="">  <i class="fas fa-chevron-left"></i> <span class="">الشاميات بالكيلو</span></a>
    <a onclick="scrollToCategory(event, 'category20')" href="#" title="الساندويش" class="">  <i class="fas fa-chevron-left"></i> <span class="">الساندويش</span></a>
    <a onclick="scrollToCategory(event, 'category21')" href="#" title="عصيرات" class="">  <i class="fas fa-chevron-left"></i> <span class="">عصيرات</span></a>
    <a onclick="scrollToCategory(event, 'category22')" href="#" title="مشروبات جانبية" class="">  <i class="fas fa-chevron-left"></i> <span class="">مشروبات جانبية</span></a>
    <a onclick="scrollToCategory(event, 'category23')" href="#" title="قشاطي أحلام الشام" class="">  <i class="fas fa-chevron-left"></i> <span class="">قشاطي أحلام الشام</span></a>
    <a onclick="scrollToCategory(event, 'category24')" href="#" title="جاك عصاير" class="">  <i class="fas fa-chevron-left"></i> <span class="">جاك عصاير</span></a> -->

  </aside>


