<div class="side-bar-wrapper">
	<ul>
		<li class="menu-item">
			<a href="dashboard" class="menu-link active-link">
				<all-conversations-icon />
				All Conversations
			</a>
		</li>

		<li class="menu-item">
			<a href="mentions/conversations" class="menu-link">
				<mentions-icon />
				Mentions
			</a>
		</li>

		<li class="menu-item">
			<a href="unattended/conversations" class="menu-link">
				<unattended-icon />
				Unattended
			</a>
		</li>

		<li class="menu-item">
			<div class="section-header">
				<span class="section-title">Teams</span>
			</div>
			<ul class="common-list">
				<li class="common-item">
					<a href="team/5" class="common-link">
						<div class="common-content">
							<span class="common-name" title="sales team"
								>sales team</span
							>
						</div>
					</a>
				</li>
				<div>
					<li class="new-team-item">
						<a href="settings/teams/new">
							<button
								class="button clear tiny secondary"
								type="submit"
							>
								<plus-icon />
								<span class="button-label">New team</span>
							</button>
						</a>
					</li>
				</div>
			</ul>
		</li>

		<li class="menu-item">
			<div class="section-header">
				<span class="section-title">Inboxes</span>
			</div>
			<ul class="common-list">
				<li class="common-item">
					<a href="inbox/8" class="common-link">
						<span class="icon">
							<cloud-icon />
						</span>
						<div class="common-content">
							<span class="common-name" title="test">test</span>
						</div>
					</a>
				</li>
				<div>
					<li class="new-inbox-item">
						<a href="settings/inboxes/new">
							<button
								class="button clear tiny secondary"
								type="submit"
							>
								<plus-icon />
								<span class="button-label">New inbox</span>
							</button>
						</a>
					</li>
				</div>
			</ul>
		</li>

		<li class="menu-item">
			<div class="section-header">
				<span class="section-title">Labels</span>
			</div>
			<ul class="common-list">
				<li class="common-item">
					<a href="label/as" class="common-link">
						<span
							class="label-icon"
							style="background-color: rgb(22, 124, 80)"
						></span>
						<div class="common-content">
							<span class="label-name" title="as">as</span>
						</div>
					</a>
				</li>
				<li class="common-item">
					<a href="label/dddd" class="common-link">
						<span
							class="label-icon"
							style="background-color: rgb(0, 79, 241)"
						></span>
						<div class="common-content">
							<span class="label-name" title="dddd">dddd</span>
						</div>
					</a>
				</li>
				<li class="common-item">
					<a href="label/first" class="common-link">
						<span
							class="label-icon"
							style="background-color: rgb(70, 121, 130)"
						></span>
						<div class="common-content">
							<span class="label-name" title="first">first</span>
						</div>
					</a>
				</li>
				<div>
					<li class="new-common-item">
						<!-- <a href="#"> -->
						<button
							class="button clear tiny secondary"
							type="submit"
							(click)="toggleLabelDialogVisibility()"
						>
							<plus-icon />
							<span class="button-label">New label</span>
						</button>
						<!-- </a> -->
					</li>
				</div>
			</ul>
		</li>
	</ul>
</div>

<!-- Add New Label Dialog -->
<div class="label-dialog">
	<p-dialog
		[modal]="true"
		[header]="'Add Label'"
		[(visible)]="isLabelDialogVisible"
		class="add-new-label w-full bg-slate-500"
	>
		<add-new-label-popup
			(toggleVisibility)="toggleLabelDialogVisibility()"
		/>
	</p-dialog>
</div>
