.side-bar-wrapper {
	@apply flex flex-col w-48 h-full px-2 pb-8 overflow-auto text-sm
	     bg-white border-r dark:bg-slate-900 dark:border-slate-800/50 
	       rtl:border-r-0 rtl:border-l border-slate-50;
}

.side-bar-wrapper ul {
	@apply pt-2 mb-0 ml-0 list-none;
}

/* Common list item styling */
.menu-item {
	@apply mt-1;
}

/* Common link styling */
.menu-link {
	@apply flex items-center p-2 m-0 text-sm leading-4 rounded-lg font-thin
	      text-slate-700 dark:text-slate-100 
		  dark:hover:bg-slate-800 hover:text-slate-700 dark:hover:text-slate-100;
}

/* Additional styles for the active link */
.active-link {
	color: rgb(59 158 255 / 1);
}

/* General Menu Item Styling */
.menu-item {
	@apply mt-1;
}

/* General Section Header Styling */
.section-header {
	@apply flex justify-between;
}

.section-title {
	@apply px-2 pt-1 my-2 text-sm font-semibold text-slate-700 dark:text-slate-200;
}

/* General List Styling */
.common-list {
	@apply mb-0 ml-0 list-none;
}

/* General Item Styling */
.common-item {
	@apply h-7 my-1 flex items-center px-2 rounded-md 
		dark:hover:bg-slate-800 text-ellipsis overflow-hidden whitespace-nowrap max-w-full;
}

/* General Link Styling */
.common-link {
	@apply inline-flex text-left max-w-full w-full items-center;
}

/* General Content Styling */
.common-content {
	@apply items-center flex overflow-hidden whitespace-nowrap text-ellipsis w-full justify-between;
}

/* General Name Styling */
.common-name {
	@apply text-sm text-slate-700 dark:text-slate-100 text-ellipsis overflow-hidden whitespace-nowrap max-w-full;
}

/* Icon-Specific Styling */
.icon {
	@apply inline-flex items-center justify-center w-4 rounded-sm bg-slate-100 dark:bg-slate-700 p-0.5 
		mr-1.5 rtl:mr-0 rtl:ml-1.5;
}

/* Label Icon Styling */
.label-icon {
	@apply inline-flex rounded-sm bg-slate-100 h-3 w-3.5 mr-1.5 rtl:mr-0 rtl:ml-1.5 border border-slate-50 dark:border-slate-900;
}

/* Button Styling */

.button-label {
	@apply text-left rtl:text-right font-normal;
}
