<banner class="py-10" />

<div class="container">
	<div class="main-section">
		<div class="category">
			<div class="category-section">
				@if (scrollService.isNarrowScreen()) {
					<mobile-category-bar
						class="mobile-category-list-container"
					/>
				} @else {
					<category-bar class="category-list" />
				}

				<product-list class="category-items" />
			</div>
		</div>

		<cart class="side-bar cart-section" />
	</div>
</div>

@if (selectedProduct()) {
	<div
		add-to-cart-modal
		@scaleInOut
		[variant]="selectedProduct()"
		(closeModal)="productsPageStore.selectProduct()"
	></div>
}
