<banner class="py-10" />

<div class="container">
	<div class="main-section">
		<div class="category">
			<div class="category-section">
				@if (settings.selectedBranch?.()) {
					@if (scrollService.isNarrowScreen()) {
						<mobile-category-bar
							class="w-full z-10 sticky top-[63px]"
						/>
					} @else {
						<category-bar class="category-list" />
					}

					<product-list class="category-items" />
				}
			</div>
		</div>

		<cart class="side-bar cart-section" />
	</div>
</div>

@if (selectedProduct()) {
	<div
		add-to-cart-modal
		[variant]="selectedProduct()"
		(closeModal)="productsPageStore.selectProduct()"
	></div>
}

@if (chooseBranch()) {
	<branch-ordertype-picker
		(onCancel)="chooseBranch.set(false)"
		(onFinished)="chooseBranch.set(false)"
	/>
}
