<div #container class="header-container header-content">
	<nav class="nav-section">
		<div class="container header-section">
			<div
				(click)="isSideBarVisible.set(true)"
				id="burger-menu"
				class="menu-side-btn icon-menu"
			>
				<div class="burger-menu">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>

			<div class="bg-white menu-bar">
				<div
					(click)="isBranchOrderTypePickerVisible.set(true)"
					id="menu-bar"
					class="header-dropdown-container"
				>
					<div class="header-dropdown">
						<div class="arrow-down">
							<i
								class="fas"
								[class]="
									settings.orderType() === 'delivery'
										? 'fa-truck'
										: 'fa-cart-shopping'
								"
							></i>
						</div>
						<div class="food-type">
							<div>
								<span class="food-type-1">
									{{ deliveryTitle() }}
								</span>
							</div>
							<div>
								<span class="food-type-2">
									{{ branchName() }}
								</span>
							</div>
						</div>
					</div>
				</div>

				<div class="time-type-btn">
					<small class="d-block">وقت الطلب</small>
					<span class="d-block fw-bold">الآن</span>
				</div>
			</div>

			@if (isBranchOrderTypePickerVisible()) {
				<branch-ordertype-picker
					(onFinished)="isBranchOrderTypePickerVisible.set(false)"
					(onCancel)="isBranchOrderTypePickerVisible.set(false)"
				/>
			}
		</div>
	</nav>
</div>

@if (isSideBarVisible()) {
	<sidebar (onDismiss)="isSideBarVisible.set(false)" />
}
