.phoneInput {
	height: 50px;
	border-radius: 0.5rem;
	background-color: rgba(#fff, 1);

	display: flex;
	align-items: center;
	justify-content: center;

	border: 1px solid #dee2e6;
	overflow: hidden;

	span {
		border-right: 1px solid #dee2e6;
		min-width: 50px;
		background-color: rgba(248, 249, 250, 1);
		color: rgba(33, 37, 41, 1);
		align-items: center;
		justify-content: center;
		display: flex;
	}
}
input {
	background-color: rgba(255, 255, 255, 1);
	color: rgba(33, 37, 41, 1);

	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0.5rem;
	padding-left: 0.5rem;

	flex-grow: 1;
	border: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	outline: none;
	scroll-behavior: smooth;
}
