@font-face {
	font-family: marhey;
	src: url(../../../../../../../../assets/webstore/fonts/Marhey/Marhey-VariableFont_wght.ttf);
}

:host {
	display: grid;
	place-items: center;
}

a {
	font-family: 'marhey';
	font-size: 30px;
	line-height: 2.5rem;

	color: rgb(13, 110, 253);
	cursor: pointer;
	text-decoration: none;
}
