@switch (settings.companyInfoStatus()) {
	@case ('loading') {
		<div class="absolute w-full h-full flex justify-center items-center">
			<div class="spinner"></div>
		</div>
	}

	@case ('error') {
		<div class="absolute w-full h-full flex justify-center items-center">
			Could not load company id
		</div>
	}

	@case ('loaded') {
		<ng-container [ngTemplateOutlet]="loadedTemplate" />
	}
}

<ng-template #loadedTemplate>
	<main class="webstore-body">
		<topbar />

		<section>
			<router-outlet />
		</section>
	</main>
</ng-template>
