<div class="flex flex-col thm-panel h-full">
	<!-- invoice header -->
	<section class="font-light text-xs">
		<div class="flex mb-2">
			<span class="invoice-dropdowns flex-1 pt-1">
				<p-dropdown
					[options]="items"
					[(ngModel)]="selectedInvoiceType"
					placeholder="Order"
					[virtualScroll]="true"
					[virtualScrollItemSize]="38"
					[virtualScrollOptions]="scrollOptions"
					(onChange)="onSalesInvoiceTypeChange($event)"
					class="orderType-dropdown"
					optionLabel="name"
				/>
				<p-dropdown
					[options]="items"
					[(ngModel)]="selectedBranch"
					placeholder="Branch"
					[virtualScroll]="true"
					[virtualScrollItemSize]="38"
					[virtualScrollOptions]="scrollOptions"
					(onChange)="onToBranchIdChange($event)"
					class="branch-dropdown"
					optionLabel="name"
				/>

				<p-dropdown
					[options]="items"
					[(ngModel)]="selectedCustomer"
					placeholder="Customer"
					[virtualScroll]="true"
					[virtualScrollItemSize]="38"
					[virtualScrollOptions]="scrollOptions"
					[filter]="true"
					(onFilter)="onCustomersFilter($event)"
					(onChange)="onCustomerChange($event)"
					[showClear]="true"
					class="customer-dropdown flex-1"
					dataKey="id"
					optionLabel="name"
					filterBy="name, phone, mobile"
					(onShow)="onShow($event)"
					(onHide)="onHide($event)"
					#customerDropdown
				>
					<!--  -->
					<ng-template
						pTemplate="filter"
						let-options="options"
						let-filter="filterCallback"
					>
						<div class="flex gap-1">
							<input
								type="text"
								pInputText
								role="searchbox"
								placeholder="Filter"
								[(ngModel)]="filterValue"
								(focus)="
									options?.filter?.({
										target: customFilterInput,
									})
								"
								(input)="
									options?.filter?.({
										target: customFilterInput,
									})
								"
								class="flex-1"
								#customFilterInput
							/>

							<p-button
								icon="pi pi-plus"
								[text]="true"
								severity="success"
								[rounded]="true"
								class="add-btn"
								(onClick)="
									customerPopupVisible.set(true);
									customerDropdown.hide()
								"
							/>
						</div>
					</ng-template>

					<ng-template pTemplate="item" let-customer>
						@if (customer.name == null) {
							<p-skeleton width="100%" />
						} @else {
							<span class="font-semibold min-w-24">
								{{ customer.name }}
							</span>
						}
					</ng-template>
				</p-dropdown>

				<p-button
					icon="pi pi-pencil"
					[text]="true"
					(onClick)="customerPopupVisible.set(true)"
				/>

				<!-- <p-listbox
					[options]="cities"
					[(ngModel)]="selectedCity"
					optionLabel="name"
					class="w-full"
					[listStyle]="{ 'max-height': '40px' }"
				/> -->
			</span>
			<!-- <span class="flex-1 flex justify-center items-center">Time</span> -->
		</div>
	</section>

	<!-- products -->
	<section
		class="flex flex-col flex-[1_1_10rem] items-stretch overflow-auto font-light text-xs"
	>
		<p-table
			[value]="products()"
			tableStyleClass="p-datatable-striped bg-red-500"
			styleClass="p-datatable-striped bg-red-400"
			[style]="{ 'min-height': 'min-content' }"
		>
			<ng-template pTemplate="body" let-product>
				<tr class="flexitems-stretch">
					<td class="p-1">
						<div
							class="flex flex-colx items-stretch w-10x border border-dashexd"
						>
							@if (!readonly()) {
								<button
									pButton
									pRipple
									type="button"
									icon="pi pi-times"
									class="p-button-text p-button-warning h-6 w-6 py-1 px-2"
									size="small"
									(click)="removeProduct(product.id)"
								></button>
								<button
									pButton
									pRipple
									type="button"
									icon="pi pi-pencil"
									class="p-button-text p-button-info h-6 w-6 py-1 px-2"
									size="small"
									(click)="productPopupVisible = true"
								></button>
							}
						</div>
					</td>

					<td class="p-1 w-full">
						<div class="font-semibold text-start text-sm">
							{{ product.productVariant.title }}
						</div>
						<div class="text-xs text-start">
							a note for
							<em>{{ product.productVariant.title }}</em> which is
							somewhat lengthy to overflow below
						</div>
					</td>

					<td class="p-1 w-6 text-center">{{ product.quantity }}</td>
					<td class="p-1 w-12 text-center">
						<span class="w-full inline-flex justify-center">
							{{ product.quantity }}
						</span>
					</td>
				</tr>
			</ng-template>
		</p-table>
	</section>

	<!-- invoice info -->
	<section>
		<p-table tableStyleClass="font-semibold text-xs" [value]="invoiceInfo">
			<ng-template pTemplate="body" let-info>
				<tr class="thm-bg">
					<td class="py-2 text-start">{{ info.title }}</td>
					<td class="w-12 text-center py-2 px-1">{{ info.value }}</td>
				</tr>
			</ng-template>
		</p-table>
	</section>

	<br />

	<!-- payment methods -->
	<section class="flex gap-1 justify-around px-1">
		<button pButton label="Cash" severity="success" class="flex-1"></button>
		<button pButton label="Visa" severity="info" class="flex-1"></button>
		<button
			pButton
			label="Later"
			severity="warning"
			class="flex-1"
		></button>
	</section>

	<br />
</div>

<!-- edit product dialog -->
@if (productPopupVisible) {
	<edit-product-popup (dismiss)="productPopupVisible = false" />
}
@if (customerPopupVisible()) {
	<add-customer-popup
		[customer]="selectedCustomer || emptyCustomer"
		(dismiss)="customerPopupVisible.set(false)"
	/>
}
