<div (click)="dismiss.emit()" class="overlay"></div>

<div class="time-type-modal-wrapper">
  <div class="modal-title">
    <span class="d-block fw-bold text-body">وقت الطلب</span>
    <button (click)="dismiss.emit()" id="TimeTypeCloseIcon" type="button" class="closeModalBtn">
      <i class="fas fa-times"></i>
    </button>
  </div>
  <div class="modal-content">
    <div class="scheduled-days-tabs horizontal-scroll">
      <label for="day2024-10-30" class="position-relative m-0"><input type="radio" name="scheduleDays"
          id="day2024-10-30" class="" value="2024-10-30" />
        <div class="active">
          <span class="active">اليوم</span>
          <time class="active">2024/10/30</time>
        </div>
      </label>
      <label for="day2024-10-31" class="position-relative m-0"><input type="radio" name="scheduleDays"
          id="day2024-10-31" class="w-100 h-100 position-absolute start-0 top-0" value="2024-10-31" />
        <div class="">
          <span class="">الخميس</span>
          <time class="">2024/10/31</time>
        </div>
      </label>
      <label for="day2024-11-01" class="position-relative m-0"><input type="radio" name="scheduleDays"
          id="day2024-11-01" class="w-100 h-100 position-absolute start-0 top-0" value="2024-11-01" />
        <div class="">
          <span class="">الجمعة</span>
          <time class="">2024/11/01</time>
        </div>
      </label>
      <label for="day2024-11-02" class="position-relative m-0"><input type="radio" name="scheduleDays"
          id="day2024-11-02" class="w-100 h-100 position-absolute start-0 top-0" value="2024-11-02" />
        <div class="">
          <span class="">السبت</span> <time class="">2024/11/02</time>
        </div>
      </label>
      <label for="day2024-11-02" class="position-relative m-0"><input type="radio" name="scheduleDays"
          id="day2024-11-02" class="w-100 h-100 position-absolute start-0 top-0" value="2024-11-02" />
        <div class="">
          <span class="">السبت</span> <time class="">2024/11/02</time>
        </div>
      </label>
      <label for="day2024-11-02" class="position-relative m-0"><input type="radio" name="scheduleDays"
          id="day2024-11-02" class="w-100 h-100 position-absolute start-0 top-0" value="2024-11-02" />
        <div class="">
          <span class="">السبت</span> <time class="">2024/11/02</time>
        </div>
      </label>
      <label for="day2024-11-02" class="position-relative m-0"><input type="radio" name="scheduleDays"
          id="day2024-11-02" class="w-100 h-100 position-absolute start-0 top-0" value="2024-11-02" />
        <div class="">
          <span class="">السبت</span> <time class="">2024/11/02</time>
        </div>
      </label>
      <label for="day2024-11-02" class="position-relative m-0"><input type="radio" name="scheduleDays"
          id="day2024-11-02" class="w-100 h-100 position-absolute start-0 top-0" value="2024-11-02" />
        <div class="">
          <span class="">السبت</span> <time class="">2024/11/02</time>
        </div>
      </label>
      <label for="day2024-11-02" class="position-relative m-0"><input type="radio" name="scheduleDays"
          id="day2024-11-02" class="w-100 h-100 position-absolute start-0 top-0" value="2024-11-02" />
        <div class="">
          <span class="">السبت</span> <time class="">2024/11/02</time>
        </div>
      </label>
      <label for="day2024-11-02" class="position-relative m-0"><input type="radio" name="scheduleDays"
          id="day2024-11-02" class="w-100 h-100 position-absolute start-0 top-0" value="2024-11-02" />
        <div class="">
          <span class="">السبت</span> <time class="">2024/11/02</time>
        </div>
      </label>
      <label for="day2024-11-02" class="position-relative m-0"><input type="radio" name="scheduleDays"
          id="day2024-11-02" class="w-100 h-100 position-absolute start-0 top-0" value="2024-11-02" />
        <div class="">
          <span class="">السبت</span> <time class="">2024/11/02</time>
        </div>
      </label>
      <label for="day2024-11-02" class="position-relative m-0"><input type="radio" name="scheduleDays"
          id="day2024-11-02" class="w-100 h-100 position-absolute start-0 top-0" value="2024-11-02" />
        <div class="">
          <span class="">السبت</span> <time class="">2024/11/02</time>
        </div>
      </label>
      <label for="day2024-11-02" class="position-relative m-0"><input type="radio" name="scheduleDays"
          id="day2024-11-02" class="w-100 h-100 position-absolute start-0 top-0" value="2024-11-02" />
        <div class="">
          <span class="">السبت</span> <time class="">2024/11/02</time>
        </div>
      </label>
    </div>
    <div class="scheduledTimes">
      <label class=""><input type="radio" value="now" name="now" class="" />
        <span class=""> الآن </span></label><label class=""><input type="radio" name="scheduleTimeSlot" class=""
          value="08:00-08:30" />
        <span class=""> 11:00 ص 11:30 ص </span></label><label class=""><input type="radio" name="scheduleTimeSlot"
          class="" value="08:30-09:00" />
        <span class=""> 11:30 ص 12:00 م </span></label><label class=""><input type="radio" name="scheduleTimeSlot"
          class="" value="09:00-09:30" />
        <span class=""> 12:00 م 12:30 م </span></label><label class=""><input type="radio" name="scheduleTimeSlot"
          class="" value="09:30-10:00" />
        <span class=""> 12:30 م 01:00 م </span></label><label class=""><input type="radio" name="scheduleTimeSlot"
          class="" value="10:00-10:30" />
        <span class=""> 01:00 م 01:30 م </span></label><label class=""><input type="radio" name="scheduleTimeSlot"
          class="" value="10:30-11:00" />
        <span class=""> 01:30 م 02:00 م </span></label><label class=""><input type="radio" name="scheduleTimeSlot"
          class="" value="11:00-11:30" />
        <span class=""> 02:00 م 02:30 م </span></label><label class=""><input type="radio" name="scheduleTimeSlot"
          class="" value="11:30-12:00" />
        <span class=""> 02:30 م 03:00 م </span></label><label class=""><input type="radio" name="scheduleTimeSlot"
          class="" value="12:00-12:30" />
        <span class=""> 03:00 م 03:30 م </span></label><label class=""><input type="radio" name="scheduleTimeSlot"
          class="" value="12:30-13:00" />
        <span class=""> 03:30 م 04:00 م </span></label><label class=""><input type="radio" name="scheduleTimeSlot"
          class="" value="13:00-13:30" />
        <span class=""> 04:00 م 04:30 م </span></label><label class=""><input type="radio" name="scheduleTimeSlot"
          class="" value="13:30-14:00" />
        <span class=""> 04:30 م 05:00 م </span></label><label class=""><input type="radio" name="scheduleTimeSlot"
          class="" value="14:00-14:30" />
        <span class=""> 05:00 م 05:30 م </span></label><label class=""><input type="radio" name="scheduleTimeSlot"
          class="" value="14:30-15:00" />
        <span class=""> 05:30 م 06:00 م </span></label><label class=""><input type="radio" name="scheduleTimeSlot"
          class="" value="15:00-15:30" />
        <span class=""> 06:00 م 06:30 م </span></label><label class=""><input type="radio" name="scheduleTimeSlot"
          class="" value="15:30-16:00" />
        <span class=""> 06:30 م 07:00 م </span></label><label class=""><input type="radio" name="scheduleTimeSlot"
          class="" value="16:00-16:30" />
        <span class=""> 07:00 م 07:30 م </span></label><label class=""><input type="radio" name="scheduleTimeSlot"
          class="" value="16:30-17:00" />
        <span class=""> 07:30 م 08:00 م </span></label><label class=""><input type="radio" name="scheduleTimeSlot"
          class="" value="17:00-17:30" />
        <span class=""> 08:00 م 08:30 م </span></label><label class=""><input type="radio" name="scheduleTimeSlot"
          class="" value="17:30-18:00" />
        <span class=""> 08:30 م 09:00 م </span></label><label class=""><input type="radio" name="scheduleTimeSlot"
          class="" value="18:00-18:30" />
        <span class=""> 09:00 م 09:30 م </span></label><label class=""><input type="radio" name="scheduleTimeSlot"
          class="" value="18:30-19:00" />
        <span class=""> 09:30 م 10:00 م </span></label><label class=""><input type="radio" name="scheduleTimeSlot"
          class="" value="19:00-19:30" />
        <span class=""> 10:00 م 10:30 م </span></label><label class=""><input type="radio" name="scheduleTimeSlot"
          class="" value="19:30-20:00" />
        <span class=""> 10:30 م 11:00 م </span></label><label class=""><input type="radio" name="scheduleTimeSlot"
          class="" value="20:00-20:30" />
        <span class=""> 11:00 م 11:30 م </span></label>
    </div>
    <!---->
    <!---->
    <!---->
  </div>
</div>