@if (!cartItems().length) {
	@if (!scrollService.isNarrowScreen()) {
		<ng-container [ngTemplateOutlet]="emptyCart" />
	}
} @else if (scrollService.isNarrowScreen()) {
	<ng-container [ngTemplateOutlet]="floatingCart" />
} @else {
	<ng-container [ngTemplateOutlet]="cart" />
}

<ng-template #emptyCart>
	<aside class="sticky mb-4 top-20">
		<div class="empty-cart">
			<cart-icon class="mb-2 w-16 h-16" />
			<span class="empty-cart-message">أضف اصناف من القائمة</span>
		</div>
	</aside>
</ng-template>

<ng-template #_cartItems>
	@for (item of cartItems(); track item.variant.id) {
		<div class="cart-items">
			<div class="cart-item">
				<span class="item-title">
					{{ item.variant.product?.title }} - {{ item.variant.title }}
				</span>

				<span class="price">
					{{ item.variant.price }}
					<small>EGP</small>
				</span>
			</div>

			<div class="quantity">
				<div>
					<button (click)="decrementCart(item)" class="btn-decrease">
						-
					</button>
					<span class="quantity-number">{{ item.quantity }}</span>
					<button (click)="incrementCart(item)" class="btn-increase">
						+
					</button>
				</div>
				<button (click)="removeFromCart(item)" class="btn-delete">
					<i class="far fa-trash-alt"></i>
				</button>
			</div>
		</div>
	}
</ng-template>

<ng-template #cart>
	<aside class="sticky mb-4 top-20">
		<div class="cart">
			<ng-container [ngTemplateOutlet]="_cartItems" />

			<div class="total">
				<span class="total-label">الاجمالي</span>
				<span class="total-price"
					>{{ productStore.cartTotal() }} EGP</span
				>
			</div>

			<button (click)="checkout()" class="execute-btn">
				تنفيذ الطلب
			</button>
		</div>
	</aside>
</ng-template>

<ng-template #floatingCart>
	<div @floatUp class="floating-cart">
		<!-- <ng-container [ngTemplateOutlet]="_cartItems" /> -->

		<div (click)="checkout()" class="btn">
			<div class="cart-icon" (click)="expandCart()">
				<span class="badge">{{ cartItems().length }}</span>
				<cart-icon class="w-8 h-8" />
			</div>

			<span class=""> تنفيذ الطلب </span>

			<span class="total-price">
				{{ productStore.cartTotal() }} EGP
			</span>
		</div>
	</div>
</ng-template>

@if (showAuth()) {
	<auth-modal
		(onDismissed)="showAuth.set(false)"
		(onFinished)="showAuth.set(false)"
	/>
}

@if (showAddressModal()) {
	<user-addresses-modal
		(onSelected)="showAddressModal.set(false); selectedAddress.set($event)"
		(onDismissed)="showAddressModal.set(false)"
	/>
}
