<aside class="sticky mb-4 top-20">
	@if (!cartItems().length) {
		<ng-container [ngTemplateOutlet]="emptyCart" />
	} @else if (scrollService.isNarrowScreen()) {
		<ng-container [ngTemplateOutlet]="floatingCart" />
	} @else {
		<ng-container [ngTemplateOutlet]="cart" />
	}
</aside>

<ng-template #emptyCart>
	<div class="empty-cart">
		<cart-icon class="mb-2 w-16 h-16" />
		<span class="empty-cart-message">أضف اصناف من القائمة</span>
	</div>
</ng-template>

<ng-template #_cartItems>
	@for (item of cartItems(); track item.variant.id) {
		<div class="cart-items">
			<div class="cart-item">
				<span class="item-title">
					{{ item.variant.product?.title }} - {{ item.variant.title }}
				</span>

				<span class="price">
					{{ item.variant.price }}
					<small>EGP</small>
				</span>
			</div>

			<div class="quantity">
				<div>
					<button (click)="decrementCart(item)" class="btn-decrease">
						-
					</button>
					<span class="quantity-number">{{ item.quantity }}</span>
					<button (click)="incrementCart(item)" class="btn-increase">
						+
					</button>
				</div>
				<button (click)="removeFromCart(item)" class="btn-delete">
					<i class="far fa-trash-alt"></i>
				</button>
			</div>
		</div>
	}
</ng-template>

<ng-template #cart>
	<div class="cart">
		<ng-container [ngTemplateOutlet]="_cartItems" />

		<div class="total">
			<span class="total-label">الاجمالي</span>
			<span class="total-price">{{ productStore.cartTotal() }} EGP</span>
		</div>

		<button class="execute-btn">تنفيذ الطلب</button>
	</div>
</ng-template>

<ng-template #floatingCart>
	<div @float class="floating-cart">
		<!-- <ng-container [ngTemplateOutlet]="_cartItems" /> -->

		<div class="btn">
			<div class="cart-icon" (click)="openCart()">
				<span class="badge">{{ cartItems().length }}</span>
				<cart-icon class="w-8 h-8" />
			</div>

			<span class=""> تنفيذ الطلب </span>

			<span class="total-price">
				{{ productStore.cartTotal() }} EGP
			</span>
		</div>
	</div>
</ng-template>
