<modal
	[header]="header()"
	[closable]="isDismissable()"
	(onDismissed)="dismiss()"
>
	@if (!choosedBranch()) {
		@if (pendingBranch()) {
			<ng-container [ngTemplateOutlet]="confirmResetOrder"></ng-container>
		} @else {
			<ng-container [ngTemplateOutlet]="chooseBranch"></ng-container>
		}
	} @else if (!choosedOrderType()) {
		<ng-container [ngTemplateOutlet]="chooseOrderType"></ng-container>
	}
	<!-- otherwise onFinish emits -->
</modal>

<!-- ####################################################################### -->

<ng-template #confirmResetOrder>
	<div @slideIn class="w-full flex flex-col gap-2">
		<span>سيتم حذف المنتجات من السلة. هل أنت متأكد؟</span>

		<div class="flex w-full justify-between">
			<button
				(click)="cart.emptyCart(); selectBranch(pendingBranch()!)"
				class="tab-style text-red-500"
			>
				حذف السلة
			</button>

			<!-- cancel because it happens only when branch and order type are set -->
			<button (click)="onCancel.emit()" class="tab-style">الغاء</button>
		</div>
	</div>
</ng-template>

<ng-template #chooseBranch>
	@for (branch of settings.companyInfo().branchs; track branch.id) {
		<button (click)="selectBranch(branch)" class="tab-style">
			{{ branch.name }}
		</button>
	}
</ng-template>

<ng-template #chooseOrderType>
	<div @slideIn class="w-full flex flex-col gap-2">
		<button (click)="selectOrderType('delivery')" class="tab-style">
			توصيل
		</button>

		<button (click)="selectOrderType('pickup')" class="tab-style">
			استلام من الفرع
		</button>
	</div>
</ng-template>
