@if (!cartItems().length) {
	@if (!scrollService.isMobileView()) {
		<ng-container [ngTemplateOutlet]="emptyCart" />
	}
} @else if (scrollService.isMobileView()) {
	<ng-container [ngTemplateOutlet]="floatingCart" />
} @else {
	<ng-container [ngTemplateOutlet]="fullCart" />
}

<ng-template #emptyCart>
	<aside class="sticky mb-4 top-20">
		<div class="empty-cart">
			<cart-icon class="mb-2 w-16 h-16" />
			<span class="empty-cart-message">أضف اصناف من القائمة</span>
		</div>
	</aside>
</ng-template>

<ng-template #fullCart>
	<aside class="sticky mb-4 top-20">
		<div class="cart">
			<cart-items [showControls]="true" />

			<div class="total">
				<span class="total-label">الاجمالي</span>
				<span class="total-price">{{ totalPrice() }} EGP</span>
			</div>

			<button (click)="gotoCheckout()" class="execute-btn">
				تنفيذ الطلب
			</button>
		</div>
	</aside>
</ng-template>

<ng-template #floatingCart>
	<div @floatUp class="floating-cart">
		@if (floatingCartExpanded()) {
			<div @expandUp class="items">
				<cart-items />
			</div>
		}

		<div
			[class]="
				'btn cursor-pointer' +
				(floatingCartExpanded() ? ' expanded' : '')
			"
			(click)="gotoCheckout()">
			<span
				class="cart-icon"
				(click)="$event.stopPropagation(); toggleFloatCartExpanded()">
				<div class="relative">
					<span class="badge">{{ cartItems().length }}</span>
					<cart-icon class="w-8 h-8" />
				</div>
			</span>

			<!-- <div class="action"> -->
			<span class="flex-1 text-center p-4">تنفيذ الطلب</span>

			<span class="total-price p-4">{{ totalPrice() }} EGP</span>
			<!-- </div> -->
		</div>
	</div>
</ng-template>

@if (showAuth()) {
	<auth-modal
		(onDismissed)="showAuth.set(false)"
		(onFinished)="showAuth.set(false)" />
}

@if (showAddressModal()) {
	<user-addresses-modal
		(onSelected)="showAddressModal.set(false); selectedAddress.set($event)"
		(onDismissed)="showAddressModal.set(false)" />
}
