.empty-cart {
	background-color: var(--cardsBG);
	border: 1px solid var(--cardBorder);
	min-height: 150px;

	@apply p-4 rounded-xl
	flex flex-col items-center justify-center text-center;

	.empty-cart-message {
		color: var(--bodySecondaryTextColor);
	}
}

// #############################################################################

.cart {
	background-color: var(--cardsBG);
	padding: 8px;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	text-align: right;
	direction: rtl;
	width: 100%;
	border: 1px solid var(--cardBorder);

	//  ##########################################################################

	.total {
		display: flex;
		justify-content: space-between;
		margin-bottom: 10px;
		font-size: 16px;
		font-weight: 700;
		padding: 8px 0;

		&-label {
			font-size: 14px;
		}
	}

	//  ##########################################################################

	.execute-btn {
		width: 100%;
		background-color: var(--GreenBackground);
		color: white;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		padding: 0.5rem;
		height: 45px;
		font-size: 15px;
	}
}

//  ##########################################################################

.floating-cart {
	@apply fixed right-4 bottom-4 left-4;

	.items {
		@apply p-3 max-h-[60vh] min-h-40
    overflow-y-scroll w-full rounded-t-3xl;
		margin-bottom: -6px;
		border: 6px solid var(--GreenBackground);
		background-color: var(--cardsBG);
	}

	.btn {
		@apply rounded-lg select-none
  text-white font-bold overflow-hidden 
    flex justify-between items-center;
		background-color: var(--GreenBackground);

		&:not(:has(.cart-icon:hover)):hover {
			background-color: var(--GreenBGHover);
		}

		&.expanded {
			@apply rounded-t-none;
		}

		.cart-icon {
			@apply h-full p-4 bg-[#617c4c] cursor-pointer;
			&:hover {
				background-color: var(--GreenBGHover);
			}

			.badge {
				@apply absolute -top-1 -right-1 w-5 h-5 
        font-normal text-sm rounded-full
        grid place-items-center;
				color: var(--GreenBackground);
				background-color: white;
			}
		}
	}
}
