<div #container class="header-container header-content">
	<nav class="nav-section">
		<div class="container header-section">
			<div
				(click)="onButtonClick()"
				id="burger-menu"
				class="menu-side-btn icon-menu"
			>
				<div class="burger-menu">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>

			<div class="bg-white menu-bar">
				<div
					(click)="toggleOrderOptionsVisibility()"
					id="menu-bar"
					class="header-dropdown-container"
				>
					<div class="header-dropdown">
						<div class="arrow-down">
							<i class="fas fa-truck"></i>
						</div>
						<div class="food-type">
							<div>
								<span class="food-type-1">استلام من</span>
							</div>
							<div>
								<span class="food-type-2"
									>بوليفارد المحمدية</span
								>
							</div>
						</div>
					</div>
				</div>

				<div
					(click)="toggleOrderTimeVisibility()"
					class="time-type-btn"
				>
					<small class="d-block">وقت الطلب</small>
					<span class="d-block fw-bold">الآن</span>
				</div>
			</div>

			<app-order-time
				[isOrderTimeVisible]="isOrderTimeVisible"
				[toggleOrderTimeVisibility]="
					toggleOrderTimeVisibility.bind(this)
				"
			>
			</app-order-time>
			<app-order-option
				[isVisible]="isOrderOptionsVisible()"
				(toggleVisibility)="toggleOrderOptionsVisibility()"
			>
			</app-order-option>
		</div>
	</nav>
</div>
