<div (click)="onClose.emit()" class="overlay"></div>

<div class="order-type">
  <div>
    <div class="order-type-content">
      <!-- Tabs Area -->
      <div class="tabsArea">
        <button type="button" [class.active]="activeTab() === 'delivery'" (click)="activeTab.set('delivery')">
          توصيل
        </button>
        <button type="button" [class.active]="activeTab() === 'pickup'" (click)="activeTab.set('pickup')">
          استلام
        </button>
        <button type="button" [class.active]="activeTab() === 'drive'" (click)="activeTab.set('drive')">
          من السيارة
        </button>
      </div>


      <div class="content-wrapper">

        <div class="contentArea">

          @switch (activeTab()) {
          @case ('drive'){
          <app-drive />
          }
          @case ('pickup') {
          <app-pickup />
          }
          @case ('delivery') {
          <app-delivery />
          }
          }

        </div>
      </div>
    </div>
  </div>
</div>