<div class="p-4 flex flex-col gap-4">
	<span class="font-bold">الطلبات</span>

	@if (invoices.isLoading()) {
		<ng-container *ngTemplateOutlet="loadingTemplate" />
	} @else {
		<ng-container *ngTemplateOutlet="ordersTemplate" />
	}
</div>

<!-- Loading Template -->
<ng-template #loadingTemplate>
	@for (i of [1, 2, 3, 4]; track i) {
		<div class="card p-4 flex flex-col gap-3">
			<div class="flex justify-between items-center">
				<div class="flex items-center gap-2">
					<p-skeleton shape="circle" size="32px" />
					<p-skeleton width="5rem" height="1.2rem" />
					<p-skeleton width="4rem" height="1.2rem" />
				</div>
				<p-skeleton width="6rem" height="1.2rem" />
			</div>

			<div class="flex justify-between items-center">
				<p-skeleton width="8rem" height="1.2rem" />
				<p-skeleton
					width="5rem"
					height="1.8rem"
					styleClass="rounded-full" />
			</div>
		</div>
	}
</ng-template>

<!-- Orders Template -->
<ng-template #ordersTemplate>
	@for (invoice of invoices.invoiceEntities(); track invoice.id) {
		<div class="card p-4 flex flex-col gap-3">
			<div class="flex justify-between items-center">
				<div class="flex items-center gap-2">
					<bg-img
						[src]="
							'/assets/icons/' + getOrderType(invoice) + '.svg'
						"
						color="gray" />
					<span class="font-bold">رقم الطلب:</span>
					<span>{{ invoice.id }}</span>
				</div>
				<span>{{ invoice.totalPrice }} EGP</span>
			</div>

			<div class="flex justify-between items-center">
				<span>{{ invoice.createdAt | date: 'dd/MM/yyyy' }}</span>
				@let status = getOrderStatus(invoice);
				<p-tag
					[value]="status.label"
					[severity]="status.severity"
					[icon]="status.icon" />
			</div>
		</div>
	}
</ng-template>
