.image-container {
	@apply min-h-[300px] bg-[#f3f3ed] 
   grid place-items-center 
   rounded-md overflow-hidden;
}

.item-price {
	color: var(--Greentextcolor);
}

textarea {
	@apply rounded-md p-2 w-full min-h-16;

	border: 1px solid hsla(0, 0%, 86.7%, 0.2);
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

.bottom {
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
	@apply p-4 flex items-stretch justify-between gap-3;

	.qty {
		@apply rounded-md w-40 flex items-center justify-between bg-[#f8f8f8];

		button {
			@apply w-12 cursor-pointer bg-transparent border-none;

			i {
				@apply p-1.5 rounded-md;
				border: 1px solid rgb(204, 204, 204);
				color: rgb(204, 204, 204);
			}

			&:disabled {
				cursor: not-allowed;
				opacity: 0.3;
			}
		}

		input {
			@apply outline-none text-center p-0 bg-transparent
      flex-1 w-12 h-full border-none text-xl;
		}
	}
}
