.image-container {
	@apply relative overflow-hidden min-h-[300px]
   grid place-items-center 
   bg-white;
}

.menuItemModalWrapper {
	@apply z-10;
	top: 1rem;
	width: 500px;
	max-height: calc(100vh - 2rem);
	max-width: calc(100vw - 1rem);
	background-color: #f3f3ed;
	border-radius: 0.5rem;
	margin: auto;
	right: 0;
	left: 0;
	position: fixed;
	overflow: hidden;
}

.productItem {
	justify-content: space-between;
	flex-direction: column;
	display: flex;
}

.modalTopArea {
	max-height: calc(100vh - 83px - 2rem);
	-ms-overflow-style: none;
	scrollbar-width: none;
	flex-grow: 1;
	position: relative;
	overflow: auto;
}

.closeMenuItemModalBtn {
	left: 1rem;
	width: 32px;
	height: 32px;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: 22px 22px;
	background-color: hsla(0, 0%, 100%, 0.64);
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.16);
	cursor: pointer;
	z-index: 9;
	top: 1rem;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	position: absolute;
	display: flex;

	i {
		color: rgb(122, 122, 122);
	}
}

.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	height: 300px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	position: relative;
	display: block;
	transform: translateZ(0);
}

.slick-track {
	opacity: 1;
	width: 500px;
	transform: translate3d(0px, 0px, 0px);
	position: relative;
	top: 0;
	left: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.slick-slide {
	width: 500px;
	display: block;
	float: right;
	height: 100%;
	min-height: 1px;
}

.item {
	width: 100%;
	display: inline-block;
	--bs-bg-opacity: 1;
	background-color: rgba(255, 255, 255, 1);
	overflow: hidden;
}

.aboutItem {
	gap: 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
	flex-direction: column;
	display: flex;
}

.nameAndPrice {
	gap: 0.5rem;
	align-items: center;
	justify-content: space-between;
	display: flex;
}

.itemInfo {
	color: var(--Greentextcolor);
	font-weight: 700;
	flex-grow: 1;
}

.item-description {
	color: #a39172;
	font-size: 13px;
	text-align: center;

	p {
		margin: 0;
	}
}

.itemOptions {
	border-top-color: hsla(0, 0%, 86.7%, 0.2);
	padding: 0.5rem;
}

.title {
	margin-bottom: 0.5rem;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
	display: flex;
}

.optionsItems {
	margin: 0 -0.5rem;
}

.optionItem {
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 100%;
	position: relative;
	display: flex;
	transition: all 0.2s;

	&:hover {
		background-color: rgb(218, 218, 218);
	}
}

.optionTxt {
	transition: all 0.2s ease-in-out;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
	width: 100%;
	display: flex;

	label {
		padding: 0.5rem;
		margin: 0;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		width: 100%;
		position: relative;
		display: flex;

		input {
			cursor: pointer;
			opacity: 0;
			z-index: 9;
			height: 100%;
			width: 100%;
			left: 0;
			top: 0;
			position: absolute;
			margin: 0;
			font-family: inherit;
			font-size: inherit;
			line-height: inherit;
		}
	}
}

.sideR {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.checkMark {
	margin-left: 10px;

	/* from [dir=rtl] .menuItemModalWrapper .modalTopArea .itemOptions .optionsItems .optionItem .optionTxt label .sideR .checkMark */
	background-color: #fff;
	width: 20px;

	/* from width */
	height: 20px;

	/* from height */
	transition: all 0.2s ease-in-out;

	/* from transition */
	border-radius: 0.25rem;

	/* from .rounded-1 */
	position: relative;

	&.checked {
		background-color: var(--GreenBackground);

		/* background-image: url("https://cdn-icons-png.flaticon.com/512/14034/14034688.png"); */
	}
}

/* .checkMark:after {
	  position: absolute;
	  border-radius: .2rem;
	  top: 0;
	  width: 20px;
	  height: 20px;
	  content: "";
	  opacity: 0;
	  background-position: 50%;
	  background-repeat: no-repeat;
	  background-size: 12px 12px;
	  background-color: var(--GreenBackground);
	  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 24 24'%3E%3Cpath d='M9.707 19.121a.997.997 0 01-1.414 0l-5.646-5.647a1.5 1.5 0 010-2.121l.707-.707a1.5 1.5 0 012.121 0L9 14.171l9.525-9.525a1.5 1.5 0 012.121 0l.707.707a1.5 1.5 0 010 2.121z' fill='%23fff' data-original='%23000000' xmlns='http://www.w3.org/2000/svg'/%3E%3C/svg%3E");
	  transition: all .2s ease-in-out;
  } */

.checkIcon {
	color: #fff;
	transform: translate(-3px, 1px);
}

.optionName {
	color: var(--Greentextcolor);

	/* from color */
	font-size: 13px;

	/* from font-size */
	transition: all 0.2s ease-in-out;

	/* from transition */
	align-items: center;

	/* from .align-items-center */
	justify-content: flex-start;

	/* from .justify-content-start */
	display: flex;

	/* from .d-flex */
}

.optionPrice {
	color: var(--Greentextcolor);
	font-size: 13px;
	transition: all 0.2s ease-in-out;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 0.25rem;

	small {
		font-size: 0.875em;
	}
}

.required {
	height: 20px;

	/* from .menuItemModalWrapper .modalTopArea .itemOptions .colL .required */
	min-width: 60px;

	/* from min-width */
	color: #28c76f;

	/* from color */
	font-size: 10px;

	/* from font-size */
	background-color: rgba(40, 199, 111, 0.12);

	/* from background-color */
	font-weight: 700;

	/* from .fw-bold */
	border-radius: var(--bs-border-radius);

	/* from .rounded */
	padding-right: 0.5rem;

	/* from .px-2 */
	padding-left: 0.5rem;

	/* from .px-2 */
	align-items: center;

	/* from .align-items-center */
	justify-content: center;

	/* from .justify-content-center */
	display: flex;

	/* from .d-flex */
}

.menuItemModalWrapper small {
	color: rgb(163, 145, 114);
}

.optionCalories {
	font-size: 11px;
	color: var(--bodySecondaryTextColor);
	transition: all 0.2s ease-in-out;
	display: flex;
	margin-right: 0.25rem;
	margin-left: 0.25rem;
	align-items: center;
	justify-content: center;
}

.itemNote {
	padding: 0.5rem;
	border-top-color: hsla(0, 0%, 86.7%, 0.2);

	label {
		font-weight: 700;
		display: inline-block;
		margin-bottom: 0.25rem;
	}

	textarea {
		min-height: 70px;

		/* from min-height */
		vertical-align: top;

		/* from vertical-align */
		border-color: hsla(0, 0%, 86.7%, 0.2);

		/* from border-color */
		border-radius: 0.5;

		/* from .rounded-3 */
		background-color: transparent;

		/* from .bg-transparent */
		padding: 0.5rem;

		/* from .p-2 */
		width: 100%;

		/* from .w-100 */
		border: 1px solid #dee2e6;

		/* from .border */
		border-color: hsla(0, 0%, 86.7%, 0.2);
		resize: vertical;

		/* from textarea */
		margin: 0;

		/* from button, input, optgroup, select, textarea */
		font-family: inherit;

		/* from button, input, optgroup, select, textarea */
		font-size: inherit;

		/* from button, input, optgroup, select, textarea */
		line-height: inherit;

		/* from button, input, optgroup, select, textarea */
		outline: none;
	}
}

.colR span {
	line-height: 32.5px;
}

.modalBottomArea {
	background-color: var(--popUpBackgroundColor);

	/* Background color */
	border-radius: var(--bs-border-radius-lg);

	/* Rounded corners */
	padding: 1rem;

	/* Padding */
	align-items: center;

	/* Align items center */
	justify-content: space-between;

	/* Justify content between */
	flex-shrink: 0;

	/* Prevent flex item from shrinking */
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

	/* Box shadow */
	display: flex;

	/* Display flex */
}

.qtyArea {
	height: 50px;

	/* Height of the quantity area */
	border-radius: var(--buttonsBorderRadius);

	/* Border radius from variable */
	width: 152px;

	/* Width of the quantity area */
	background-color: #f8f8f8;

	/* Background color */
	align-self: stretch;

	/* Stretch to fill the container */
	align-items: center;

	/* Center align items */
	justify-content: center;

	/* Center justify content */
	flex-shrink: 0;

	/* Prevent flex item from shrinking */
	display: flex;

	/* Display as flexbox */
	overflow: hidden;

	/* Hide overflow */
	margin-left: 10px;

	/* Left margin */

	input {
		outline: none;

		/* Removes the outline */
		width: 50px;

		/* Sets the width */
		font-size: 22px;

		/* Font size with important flag */
		cursor: not-allowed;

		/* Sets cursor to indicate non-clickable */
		-moz-appearance: textfield;

		/* Removes spinner for Firefox number inputs */
		background-color: transparent;

		/* Transparent background */
		text-align: center;

		/* Centers the text */
		padding: 0;

		/* Removes padding */
		flex-grow: 1;

		/* Allows element to grow within flex */
		height: 100%;

		/* Sets height to 100% */
		border: 0;

		/* Removes border */
		box-shadow: none;

		/* Removes shadow */
	}
}

.addItemToCartBtn {
	flex-grow: 1;
	position: relative;
}

.btnStyle {
	background-color: var(--GreenBackground);
	display: flex;
	border: 0;
	width: 100%;
	justify-content: center;
	align-items: center;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
	gap: 0.5rem;
	font-weight: 700;
	text-transform: none;
	margin: 0;
	color: var(--buttonText);
	border-radius: var(--buttonsBorderRadius);
	box-shadow: var(--buttonsBoxShadow);
	height: 50px;
	transition: 0.2s;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	cursor: pointer;

	span {
		color: #fff;
	}
}

.qtyArea button {
	width: 50px;

	/* Button width */
	background-size: 25px;

	/* Size of background icon/image */
	background-repeat: no-repeat;

	/* Prevents background from repeating */
	background-position: 50%;

	/* Centers background image */
	cursor: pointer;

	/* Pointer cursor on hover */
	background-color: transparent;

	/* Transparent background */
	padding: 0;

	/* Removes padding */
	flex-shrink: 0;

	/* Prevents shrinking in flex layouts */
	height: 100%;

	/* Full height */
	border: 0;

	/* Removes border */
	text-transform: none;

	/* Prevents text transformation */
	margin: 0;

	/* Removes default margin */
	font-family: inherit;

	/* Inherits font family */
	font-size: inherit;

	/* Inherits font size */
	line-height: inherit;

	/* Inherits line height */
	border-radius: 0;

	/* Removes border radius */

	i {
		border: 1px solid rgb(204, 204, 204);
		color: rgb(204, 204, 204);
		padding: 5px;
		border-radius: 5px;
	}
}

/*  animation */

.addtoCardOverlay {
	@apply z-0;
	position: fixed;
	top: -1000%;
	left: -1000%;
	width: 2000%;
	height: 2000%;
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(2px);

	/* Apply blur */
	opacity: 0;
	visibility: hidden;
	transition:
		opacity 0.4s ease,
		visibility 0.4s ease;
	transition: all 0.4s ease-in-out;

	&.active {
		opacity: 1;
		visibility: visible;
	}
}
