.btn-style {
	background-color: var(--GreenBackground);
	color: #fff;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 0 15 0;
	height: 50px;
	transition: 0.2s;
	cursor: pointer;
	font-weight: 700;
	padding: 0;
	border: 0;
	width: 100%;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

.btn-wrapper {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	left: 1rem;
}

.selectCarBtn {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1rem 0;
	padding: 1rem;
	font-weight: 700;
	background-color: #fff;
	border: 1px solid #ededed;
	color: #000;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0) 0 0 8px 1px;
	cursor: pointer;
	font-size: 14px;

	p {
		flex-grow: 1;
		margin: 0;
		display: block;
	}

	span {
		display: flex;
		justify-content: center;
		align-items: center;
		align-self: stretch;
		padding-right: 0.5rem;
		padding-left: 0.5rem;
		padding-top: 0;
		padding-bottom: 0;
		background-color: var(--GreenBackground);
		color: #fff;
		border-radius: 5px;
		box-shadow: rgba(0, 0, 0, 0.3) 0 0 15 0;
		transition: 0.2s;
		min-width: 100px;
		height: 40px;
	}
}
