<div #container class="header-container">
	<div class="mx-auto w-full md:w-[69%] flex justify-between items-center">
		<div
			(click)="isSideBarVisible.set(true)"
			id="burger-menu"
			class="menu-side-btn icon-menu"
		>
			<div class="burger-menu">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>

		<div
			(click)="
				branchOrderTypeTarget.set('orderType');
				isBranchOrderTypePickerVisible.set(true)
			"
			class="order-type"
		>
			<div class="food-type-1 mb-1">
				{{ deliveryTitle() }}
			</div>

			@if (settings.orderType()) {
				<bg-img
					[url]="'/assets/icons/' + settings.orderType() + '.svg'"
				/>
			}
		</div>

		<div class="flex-1 ml-3 flex items-center justify-end">
			<span
				(click)="
					branchOrderTypeTarget.set('branch');
					isBranchOrderTypePickerVisible.set(true)
				"
				class="branch-name"
			>
				{{ branchName() }}

				<bg-img url="/assets/icons/branch.svg" />
			</span>
		</div>
	</div>
</div>

@if (isSideBarVisible()) {
	<sidebar (onDismiss)="isSideBarVisible.set(false)" />
}

@if (isBranchOrderTypePickerVisible()) {
	<branch-ordertype-picker
		[target]="branchOrderTypeTarget()"
		(onFinished)="isBranchOrderTypePickerVisible.set(false)"
		(onCancel)="isBranchOrderTypePickerVisible.set(false)"
	/>
}
