:host {
	@apply sticky z-20; // z-50;
}

.header-container {
	background-color: var(--GreenBackground);
	@apply py-2 fixed top-0 w-full z-20;
}

.menu-side-btn {
	align-items: center;
	background-color: transparent;
	border-radius: 5px;
	box-shadow: none;
	box-sizing: border-box;
	color: rgb(71, 75, 70);
	cursor: pointer;
	direction: rtl;
	display: flex;
	flex-shrink: 0;
	font-family: 'icomoon';
	font-size: 30px;
	font-weight: 400;
	height: 45px;
	justify-content: center;
	line-height: 30px;
	margin: 0 0 0 10px;
	outline: none;
	padding: 0;
	scroll-behavior: smooth;
	text-align: right;
	unicode-bidi: isolate;
	width: 45px;
	user-select: auto;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	&.icon-menu:before {
		content: '';
	}
}

.burger-menu {
	cursor: pointer;
	width: 30px;
	height: 18px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	span {
		width: 80%;
		height: 2px;
		background-color: #fff;
		border-radius: 5px;
	}
}

.order-type {
	@apply flex gap-2 items-center
  p-3 ml-3 text-sm
  cursor-pointer text-white;
}
