<div #container class="header-container">
	<div class="mx-auto w-full md:w-[69%] flex justify-between items-center">
		<div
			(click)="isSideBarVisible.set(true)"
			id="burger-menu"
			class="menu-side-btn icon-menu">
			<div class="burger-menu">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>

		<div (click)="showOrderTypePicker('orderType')" class="order-type">
			<div class="food-type-1 mb-1">
				{{ deliveryTitle() }}
			</div>

			@if (orderType()) {
				<bg-img
					[src]="'/assets/icons/' + orderTypeTitle() + '.svg'"
					color="#fff" />
			}
		</div>

		<div class="flex-1 ml-3 flex items-center justify-end">
			<span (click)="showOrderTypePicker('branch')" class="branch-name">
				{{ branchName() }}

				<bg-img src="/assets/icons/branch.svg" />
			</span>
		</div>
	</div>
</div>

@if (isSideBarVisible()) {
	<sidebar (onDismiss)="isSideBarVisible.set(false)" />
}

@if (isBranchOrderTypePickerVisible()) {
	<branch-ordertype-picker
		[target]="branchOrderTypeTarget()"
		(onFinished)="isBranchOrderTypePickerVisible.set(false)"
		(onCancel)="isBranchOrderTypePickerVisible.set(false)" />
}
