.side-nav {
	position: fixed;
	bottom: 15px;
	top: 15px;
	right: 15px;

	opacity: 1;
	width: 437px;
	background-color: var(--GreenBackground);

	border-radius: 0.5rem;

	@media (max-width: 768px) {
		width: 93%;
	}
}

.side-nav ul li {
	border-bottom: 1px solid rgba(255, 255, 255, 0.09); /* dynamic */
	a {
		display: block;
	}
}
