<div class="modal-mask bg-slate-800" transition="modal">
	<div class="modal-container skip-context-menu">
		<div class="flex flex-col h-auto overflow-auto">
			<div class="flex-col-items-start mb-2">
				<p class="modal-description">
					Labels let you group the conversations together.
				</p>
			</div>
			<div class="flex-form">
				<!-- inputs section -->
				<div class="flex flex-col w-full gap-3">
					<div class="card flex justify-center w-full">
						<div class="flex flex-col gap-2 w-full">
							<label for="username">Label Name</label>
							<input
								pInputText
								id="username"
								class="w-full"
								aria-describedby="username-help"
								[(ngModel)]="value" />
						</div>
					</div>

					<div class="card flex justify-center w-full">
						<div class="flex flex-col gap-2 w-full">
							<label for="username">Description</label>
							<input
								pInputText
								id="username"
								class="w-full"
								aria-describedby="username-help"
								[(ngModel)]="description" />
						</div>
					</div>

					<!-- color picker -->
					<div class="w-full">
						<label>
							Color
							<div class="colorpicker">
								<p-colorpicker [(ngModel)]="color" />
							</div>
						</label>
					</div>
					<!-- ./color picker -->
				</div>
				<!-- ./inputs section -->

				<!-- form footer -->
				<div>
					<div class="flex items-center w-full gap-2 mt-2">
						<!-- <input type="checkbox" value="true" /> -->
						<p-checkbox [(ngModel)]="checked" [binary]="true" />
						<label for="conversation_creation">
							Show label on sidebar
						</label>
					</div>
				</div>
				<!-- ./form footer -->

				<!-- buttons section -->
				<div class="flex-footer-buttons">
					<p-button
						label="Create"
						[outlined]="true"
						class="button-primary" />
					<p-button
						label="Cancel"
						[text]="true"
						class="button-primary-transparent"
						(click)="onToggleVisibility()" />
				</div>
				<!-- ./buttons section -->
			</div>
		</div>
	</div>
</div>
