.modal {
	@apply flex flex-col justify-between rounded-lg;

	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
	position: fixed;
	left: 0;
	right: 0;
	margin: auto;

	background-color: #fff;
}

.header {
	@apply flex justify-between items-center 
  w-full p-4;

	span {
		font-weight: 700;
		display: block;
	}

	.close-btn {
		@apply w-8 h-8 rounded-full;
		background-color: hsla(0, 0%, 100%, 0.64);
		box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.16);
		cursor: pointer;

		i {
			font-size: 20px;
		}
	}
}

.content {
	grid-gap: 0.5rem;
	gap: 0.5rem;
	flex-grow: 1;
	flex-direction: column;
	display: flex;
	overflow: auto;
	margin: 0;
	outline: none;
	scroll-behavior: smooth;
}

::ng-deep modal {
	.input-wrapper {
		@apply border border-solid border-gray-300 rounded-md;

		input {
			@apply w-full h-12 px-4 py-2 rounded-md
      border-none outline-none;
		}
	}
}
