@for (item of items(); track this.trackByProduct(item); let idx = $index) {
	<div class="cart-item">
		<span class="item-title">
			@if (!showControls()) {
				<span class="quantity-number">x{{ item.quantity }} &nbsp;</span>
			}

			{{ item.title }}
		</span>

		<span class="price">
			{{ calcPrice(item) }}
			<small>EGP</small>
		</span>
	</div>

	@if (showControls()) {
		<div class="quantity">
			<div>
				<button
					(click)="invoiceStore.decrementProductAtIndex(idx)"
					class="btn-decrease">
					-
				</button>

				<span class="quantity-number">{{ item.quantity }}</span>

				<button
					(click)="invoiceStore.incrementProductAtIndex(idx)"
					class="btn-increase">
					+
				</button>
			</div>

			<button
				(click)="invoiceStore.removeProductAtIndex(idx)"
				class="btn-delete">
				<i class="far fa-trash-alt"></i>
			</button>
		</div>
	}
}
