/* Global Button Customizations */
p-button .p-button {
	font-family: var(--main-font-family);
	transition:
		background-color 0.25s ease-out,
		color 0.25s ease-out;
	margin: 0;
	cursor: pointer;
	align-items: center;
	border-radius: 0.3125rem;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	padding: 0.25rem 0.625rem !important;
	text-align: center;
	vertical-align: middle;
	font-size: 0.875rem !important;
	line-height: 1.25rem !important;
	font-weight: 500;
	height: 2.5rem;
}

.p-button-label {
	font-weight: 300 !important;
}

p-button .p-button {
	border: none !important;
	font-weight: 100 !important;
}

.p-button-sm .p-button-icon {
	font-size: 12px !important;
}

/*  Button sizes */
// tiny button
p-button.tiny button {
	height: 1.5rem !important;
	width: 1.5rem !important;
}

// large button
p-button.large button {
	height: 3rem !important;
	width: 3rem !important;
}

// for better accessibility use #id#
:root {
	//   #primary-solid#
	--btn-text-primary-solid-light: #fff;
	--btn-bg-primary-solid-light: rgba(44, 161, 230, 1);
	--btn-bg-primary-solid-dark: rgba(33, 137, 203, 1);

	// #primary-transparent#
	--btn-text-primary-transparent-dark: #3d9eff;
	--btn-text-primary-transparent-light: rgba(194, 229, 255, 1);
	--btn-bg-primary-transparent: transparent;
	--btn-bg-primary-transparent-dark: rgba(17, 25, 39, 0.5);

	// // #secondary-solid#
	// --btn-text-secondary-light:;
	// --btn-bg-secondary-light:;
	// --btn-bg-secondary-dark: ;

	//  #secondary-transparent#
	--btn-text-secondary-light: rgba(224, 225, 230, 1);
	--btn-bg-secondary-light: rgba(90, 97, 105, 1);
	--btn-bg-secondary-dark: rgb(39 42 45 /1);

	/* #success# */
	--btn-text-success-light: rgb(173 221 192 / 1);
	--btn-bg-success-light: rgb(33 131 88 / 1);
	--btn-bg-success-dark: rgb(40 104 74 / 1);
}

// ! #primary-solid#
p-button.button-primary .p-button {
	background-color: var(--btn-bg-primary-solid-light);
	color: var(--btn-text-primary-solid-light) !important;
}

p-button.button-primary .p-button:hover {
	background-color: var(--btn-bg-primary-solid-dark);
}

// ! #primary-transparent#
p-button.button-primary-transparent .p-button {
	background-color: var(--btn-bg-primary-transparent);
	color: var(--btn-text-primary-transparent-dark) !important;
	margin: 0 auto;
	width: 100%;
}

p-button.button-primary-transparent .p-button:hover {
	background-color: var(--btn-bg-primary-transparent-dark);
	color: var(--btn-text-primary-transparent-light) !important;
}

// ! #secondary-solid#
p-button.button-icon-secondary .p-button {
	background-color: var(--btn-bg-secondary-light);
	color: var(--btn-text-secondary-light) !important;
}

p-button.button-icon-secondary .p-button:hover {
	background-color: var(--btn-bg-secondary-dark) !important;
	color: var(--btn-text-secondary-light) !important;
}

// ! #secondary-transparent#
p-button.button-secondary-transparent .p-button {
	color: var(--btn-text-secondary-light) !important;
	background-color: transparent;
	height: 2rem;
	padding: 0.25rem 0;
	justify-content: flex-start;
	font-size: 12px !important;
	width: 100%;
}

p-button.button-secondary-transparent .p-button:hover {
	background-color: var(--btn-bg-secondary-light);
	color: var(--btn-text-secondary-light) !important;
}

// ! #success#
p-button.button-success button {
	background-color: var(--btn-bg-success-light);
	color: var(--btn-text-success-light);
	font-size: 12px;
	height: 2rem;
	padding-bottom: 0.25rem;
	padding-top: 0.25rem;
}

p-button.button-success:hover button {
	background-color: var(--btn-bg-success-dark) !important;
	color: var(--btn-text-success-light);
}
