:root {
	--main-font-family: ui-sans-serif, system-ui, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', Segoe UI Symbol,
		'Noto Color Emoji';
	--main-color: #282b2e;
	--secondary-color: #5b626b;
	// --font-color: #e0e1e6;
	--font-color: rgb(224 225 230 / 1);
	--border: rgb(90 97 105 / 1);
}

// .p-dialog,
// .p-popover {
// 	font-family: var(--main-font-family);
// }
