// Target the toggle switch
.p-toggleswitch {
	display: flex;
	width: 35px !important;
	height: 17px !important;
}

// Adjust the slider handle (toggle button)
.p-toggleswitch-handle {
	top: 62% !important;
	width: 0.75rem !important;
	height: 0.75rem !important;
}
