<aside class="sticky-content">
	@if (menu().length > 0) {
		@for (category of menu(); track category.id; let idx = $index) {
			<a
				[id]="'category-tab-' + category.id"
				(click)="scrollToCategory(category.id.toString())"
				[class.active]="activeCategoryId === category.id.toString()"
				[title]="category.title"
			>
				<i class="fas fa-chevron-left"></i>
				<span class="">{{ category.title }}</span>
			</a>
		}
		<!-- skeleton -->
	} @else {
		<div class="p-4">
			@for (_ of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; track $index) {
				<p-skeleton width="10rem" class="my-2" />
				<br />
			}
		</div>
	}
</aside>
