
.shop-body{
	padding-top: calc(65px + 1rem);
    padding-bottom: 1rem;
    width: 100%;

	text-align: right;
	font-size: 15px !important;
	font-family: "Almarai", "Roboto" !important;
	background-color: #f7f7f7;
	background-color: #ffffff;
  }


@media (max-width: 1000px) {


    .category-section{
        flex-direction: column;
    }

  }
  @media (max-width: 768px) {
    .main-section {
      flex-direction: column;
    }
    .main-section > div {
      width: 100%;
    }


  }






  .main-section {
    display: flex;
  }


  @media (max-width: 768px) {
    .main-section {
      flex-direction: column;
    }
    .main-section > div {
      width: 100%;
    }


  }



  /* cart */
  .cart-section{
    padding: 0 12px;
	width: 25%;
  }



  @media (max-width: 768px) {
    .main-section {
      flex-direction: column;
    }
    .main-section > div {
      width: 100%;
    }


  }


  .category-list {
    position: sticky !important;
    padding: 0 12px;
    flex: 0 0 auto;
    width: 33.33333333%;
  }


  .category-items {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 66.66666667%;
    gap: 1rem !important;
    padding: 0 calc(1.5rem * 0.5);
  }


  .category {
    width: 75%;
  }

  @media (max-width: 1000px) {

	.category-items {

		width: 100%;

	  }

	.category-list{
		display: none;
	}
  }


  .mobile-category-list-container{
	display: none;
		width: 100%;
		position: sticky !important;
		z-index: 1;
		top: 63px;
	}


	.category-section {
		display: flex;
	  }
	@media (max-width: 1000px) {

		.mobile-category-list{
			display: block !important;
			  position: sticky !important;
			  left: 0 !important;
			  right: 0 !important;
			  margin-bottom: 1.5rem !important;
			  padding-top: .5rem !important;
			  padding-bottom: .5rem !important;
			  background-color: #f7f7f7;
			  transform: translateY(1.5px);


		}

		.category-section{
			flex-direction: column;
		}
		.mobile-category-list-container{
			display: block;
		}
	}








//

.container{

    margin: 0 auto;
    width: 68%;
  }
.container{
    width: 1320px;

  }


  @media (max-width: 576px) {
    .container {
        max-width: 100%;
    }
  }

  @media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
  }

  @media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
  }

  @media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
  }

  @media (min-width: 1200px) {
    .container{
        max-width: 1140px;
    }
  }

  @media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
  }


  span{
    color: var(--Greentextcolor);
  }



















































































