.sticky-content {
	top: calc(65px + 1rem);
	z-index: 9;
	overflow-y: auto;
	max-height: calc(100vh - 6rem);
	background-color: var(--cardsBG);
	border: 1px solid var(--cardBorder);
	color: #000;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0) 0 0 8px 1px;
	position: sticky !important;
	top: calc(65px + 1rem);
	z-index: 99;

	a {
		font-size: 14px;
		transition: all 0.2s ease-in-out;
		padding: 10.5px;
		color: #000;
		align-items: center;
		justify-content: flex-start;
		display: flex;
		text-decoration: none;
		cursor: pointer;

		&:hover {
			background-color: #e0e0e0;
		}
	}

	i {
		font-size: 11px;
		width: 20px;
		height: 20px;
		margin-left: 5px;
		transform: translate(-29%, 30%);
	}
}

.category-items {
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
	width: 66.66666667%;
	gap: 1rem !important;
	padding: 0 calc(1.5rem * 0.5);
}

.category-name {
	line-height: 25.5px;

	span {
		font-weight: 700;
		font-size: 17px;
	}
}

.category {
	width: 75%;
}

.category-section {
	display: flex;

	@media (max-width: 1000px) {
		flex-direction: column;
	}
}

@media (max-width: 1000px) {
	.sidebar {
		width: 33.33333%;
	}
}

@media (max-width: 768px) {
	.main-section {
		flex-direction: column;

		> div {
			width: 100%;
		}
	}

	.items .sidebar {
		margin-top: 65px;
	}
}

.mobile-category-list-container {
	display: none;
	width: 100%;
	position: sticky !important;
	z-index: 9;
	top: 64px;
}

.group-list {
	overflow: auto !important;
	display: flex !important;
	max-width: 100% !important;
	justify-content: flex-start !important;
	align-items: flex-end !important;
	margin: 0 !important;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	grid-gap: 10px;
	gap: 10px;
	list-style: none;
	scrollbar-width: none;

	li {
		a {
			text-decoration: none !important;
			transition: all 0.2s ease-in-out;
			overflow: hidden !important;
			display: flex !important;
			flex-direction: column !important;
			justify-content: center !important;
			align-items: center !important;
			padding: 0.5rem !important;
			text-align: center !important;
			border-radius: 0.5rem !important;
			background-color: #f1f1f1;
			color: #777777;
			min-height: 35px;
			white-space: nowrap;

			&.active {
				background-color: var(--GreenBackground);
				color: #fff;
			}
		}
	}
}

@media (max-width: 1000px) {
	.mobile-category-list {
		display: block !important;
		position: sticky !important;
		left: 0 !important;
		right: 0 !important;
		margin-bottom: 1.5rem !important;
		padding-top: 0.5rem !important;
		padding-bottom: 0.5rem !important;
		background-color: #f7f7f7;
		transform: translateY(1.5px);
	}
}
