button {
	font-family: inherit;
	transition:
		background-color 0.25s ease-out,
		color 0.25s ease-out;
	margin: 0;
	display: inline-block;
	cursor: pointer;
	align-items: center;
	border-radius: 0.3125rem;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	padding: 0.25rem 0.625rem;
	text-align: center;
	vertical-align: middle;
	font-size: 0.875rem;
	line-height: 1.25rem;
}

button:is(.dark *) {
	border-color: transparent;
}

button:disabled,
button.disabled {
	cursor: not-allowed;
	opacity: 0.4;
}

.button-group {
	margin-bottom: 0;
	display: flex;
	flex-wrap: nowrap;
	align-items: stretch;
}

.button-group .button {
	flex: 0 0 auto;
	margin: 0;
	border-radius: 0;
	font-size: 0.875rem;
	line-height: 1.25rem;
}

.button-group .button:first-child {
	border-top-left-radius: 0.3125rem;
	border-bottom-left-radius: 0.3125rem;
}

.button-group .button:last-child {
	border-top-right-radius: 0.3125rem;
	border-bottom-right-radius: 0.3125rem;
}

.button-group
	.button:where([dir='rtl'], [dir='rtl'] *)
	> :not([hidden])
	~ :not([hidden]) {
	--tw-space-x-reverse: 1;
}

.button-group .button--only-icon {
	width: 2.5rem;
	justify-content: center;
	padding-left: 0;
	padding-right: 0;
}

.back-button {
	margin: 0;
}

.button {
	margin-bottom: 0;
	display: inline-flex;
	height: 2.5rem;
	align-items: center;
	gap: 0.5rem;

	background-color: #3b9eff;
	padding-left: 0.625rem;
	padding-right: 0.625rem;
	font-weight: 500;

	color: #fff;
}

.button:is(.dark *) {
	background-color: #3b9eff;

	color: #fff;
}

.button .button__content {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.button .button__content img,
.button .button__content svg {
	display: inline-block;
}

.button:hover {
	background-color: #0090ff;
}

.button:hover:is(.dark *) {
	background-color: #0090ff;
}

.button:disabled,
.button.disabled {
	cursor: not-allowed;
	opacity: 0.4;
}

.button.success {
	background-color: #44ce4b;

	color: #fff;
}

.button.success:is(.dark *) {
	background-color: #44ce4b;

	color: #fff;
}

.button.secondary {
	background-color: #5a6169;

	color: #fff;
}

.button.secondary:is(.dark *) {
	background-color: #60646c;

	color: #fff;
}

.button.primary {
	background-color: #3b9eff;

	color: #fff;
}

.button.primary:is(.dark *) {
	background-color: #3b9eff;

	color: #fff;
}

.button.clear {
	background-color: transparent;

	color: #3b9eff;
}

.button.clear:is(.dark *) {
	background-color: transparent;

	color: #3b9eff;
}

.button.alert {
	background-color: #e5484d;

	color: #fff;
}

.button.alert:is(.dark *) {
	background-color: #e5484d;

	color: #fff;
}

.button.alert.clear {
	background-color: transparent;
}

.button.alert.clear:is(.dark *) {
	background-color: transparent;
}

.button.warning {
	background-color: #ffc532;

	color: #fff;
}

.button.warning:is(.dark *) {
	background-color: #ffc532;

	color: #fff;
}

.button.warning.clear {
	background-color: transparent;
}

.button.warning.clear:is(.dark *) {
	background-color: transparent;
}

.button.tiny {
	height: 1.5rem;
	font-size: 10px;
}

.button.small {
	height: 2rem;
	font-size: 0.75rem;
	line-height: 1rem;
}

.button .spinner {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-top: 0;
	padding-bottom: 0;
}

.button .icon + .button__content {
	width: auto;
}

.button.expanded {
	display: flex;
	justify-content: center;
	text-align: center;
}

.button.round {
	border-radius: 9999px;
}

.button.compact {
	padding-bottom: 0;
	padding-top: 0;
}

.button.hollow {
	border-width: 1px;
	--tw-border-opacity: 1;
	border-color: #3b9eff;
	background-color: transparent;

	color: #3b9eff;
}

.button.hollow:hover {
	background-color: #e6f4fe;
}

.button.hollow:is(.dark *) {
	--tw-border-opacity: 1;
	border-color: #3b9eff;
	background-color: transparent;

	color: #3b9eff;
}

.button.hollow:hover:is(.dark *) {
	background-color: #111927;
}

.button.hollow.secondary {
	--tw-border-opacity: 1;
	border-color: #e0e1e6;

	color: #5a6169;
}

.button.hollow.secondary:hover {
	background-color: #f0f0f3;
}

.button.hollow.secondary:is(.dark *) {
	--tw-border-opacity: 1;
	border-color: #272a2d;

	color: #e0e1e6;
}

.button.hollow.secondary:hover:is(.dark *) {
	background-color: #5a6169;
}

.button.hollow.success {
	--tw-border-opacity: 1;
	border-color: #adddc0;

	color: #218358;
}

.button.hollow.success:hover {
	background-color: #b1f1cb;
}

.button.hollow.success:is(.dark *) {
	--tw-border-opacity: 1;
	border-color: #2b9a66;

	color: #33b074;
}

.button.hollow.success:hover:is(.dark *) {
	background-color: #28684a;
}

.button.hollow.alert {
	--tw-border-opacity: 1;
	border-color: #fdbdbe;

	color: #ce2c31;
}

.button.hollow.alert:hover {
	background-color: #ffd1d9;
}

.button.hollow.alert:is(.dark *) {
	--tw-border-opacity: 1;
	border-color: #dc3e42;

	color: #ec5d5e;
}

.button.hollow.alert:hover:is(.dark *) {
	background-color: #b54548;
}

.button.hollow.warning {
	--tw-border-opacity: 1;
	border-color: #d5ae39;

	color: #d5ae39;
}

.button.hollow.warning:hover {
	background-color: #fefce9;
}

.button.hollow.warning:is(.dark *) {
	--tw-border-opacity: 1;
	border-color: #665417;

	color: #d5ae39;
}

.button.hollow.warning:hover:is(.dark *) {
	background-color: #1b180f;
}

.button.hollow:hover {
	--tw-border-opacity: 1;
	border-color: #e0e1e6;

	background-color: #d5efff;
}

.button.hollow:hover:is(.dark *) {
	--tw-border-opacity: 1;
	border-color: #0090ff;

	background-color: #104d87;

	color: #70b8ff;
}

.button.hollow:hover.secondary {
	--tw-border-opacity: 1;
	border-color: #e0e1e6;

	color: #272a2d;
}

.button.hollow:hover.secondary:is(.dark *) {
	--tw-border-opacity: 1;
	border-color: #5a6169;

	color: #e0e1e6;
}

.button.hollow:hover.success {
	--tw-border-opacity: 1;
	border-color: #e0e1e6;

	color: #28684a;
}

.button.hollow:hover.success:is(.dark *) {
	--tw-border-opacity: 1;
	border-color: #5a6169;

	color: #adddc0;
}

.button.hollow:hover.alert {
	--tw-border-opacity: 1;
	border-color: #e0e1e6;

	color: #ce2c31;
}

.button.hollow:hover.alert:is(.dark *) {
	--tw-border-opacity: 1;
	border-color: #5a6169;

	color: #fdbdbe;
}

.button.hollow:hover.warning {
	--tw-border-opacity: 1;
	border-color: #e0e1e6;

	color: #665417;
}

.button.hollow:hover.warning:is(.dark *) {
	--tw-border-opacity: 1;
	border-color: #5a6169;

	color: #f5e147;
}

.button.smooth {
	background-color: #e6f4fe;

	color: #2870bd;
}

.button.smooth:hover {
	background-color: #c2e5ff;

	color: #2870bd;
}

.button.smooth:is(.dark *) {
	background-color: #104d87;

	color: #c2e5ff;
}

.button.smooth:hover:is(.dark *) {
	background-color: #111927;

	color: #2870bd;
}

.button.smooth.secondary {
	background-color: #f0f0f3;

	color: #5a6169;
}

.button.smooth.secondary:hover {
	background-color: #e0e1e6;
}

.button.smooth.secondary:is(.dark *) {
	background-color: #5a6169;

	color: #e0e1e6;
}

.button.smooth.secondary:hover:is(.dark *) {
	background-color: #272a2d;
}

.button.smooth.success {
	background-color: #b1f1cb;

	color: #218358;
}

.button.smooth.success:hover {
	background-color: #adddc0;

	color: #28684a;
}

.button.smooth.success:is(.dark *) {
	background-color: #218358;

	color: #adddc0;
}

.button.smooth.success:hover:is(.dark *) {
	background-color: #28684a;

	color: #adddc0;
}

.button.smooth.alert {
	background-color: #ffd1d9;

	color: #ce2c31;
}

.button.smooth.alert:hover {
	background-color: #fdbdbe;
}

.button.smooth.alert:is(.dark *) {
	background-color: #ce2c3180;

	color: #fdbdbe;
}

.button.smooth.alert:hover:is(.dark *) {
	background-color: #b545484d;
}

.button.smooth.warning {
	background-color: #fffab8;

	color: #665417;
}

.button.smooth.warning:hover {
	background-color: #ffe770;
}

.button.smooth.warning:is(.dark *) {
	background-color: #fffab8;

	color: #665417;
}

.button.smooth.warning:hover:is(.dark *) {
	background-color: #ffe770;
}

.button.clear {
	color: #3b9eff;
}

.button.clear:is(.dark *) {
	color: #3b9eff;
}

.button.clear.secondary {
	color: #5a6169;
}

.button.clear.secondary:is(.dark *) {
	color: #e0e1e6;
}

.button.clear.success {
	color: #218358;
}

.button.clear.success:is(.dark *) {
	color: #adddc0;
}

.button.clear.alert {
	color: #ce2c31;
}

.button.clear.alert:is(.dark *) {
	color: #fdbdbe;
}

.button.clear.warning {
	color: #665417;
}

.button.clear.warning:is(.dark *) {
	color: #d5ae39;
}

.button.clear:hover:hover {
	background-color: #e6f4fe;

	color: #3b9eff;
}

.button.clear:hover:hover:is(.dark *) {
	background-color: #11192780;

	color: #c2e5ff;
}

.button.clear:hover.secondary:hover {
	background-color: #f0f0f3;

	color: #272a2d;
}

.button.clear:hover.secondary:hover:is(.dark *) {
	background-color: #5a6169;

	color: #e0e1e6;
}

.button.clear:hover.success:hover {
	background-color: #b1f1cb;

	color: #28684a;
}

.button.clear:hover.success:hover:is(.dark *) {
	background-color: #28684a;

	color: #adddc0;
}

.button.clear:hover.alert:hover {
	background-color: #ffd1d9;

	color: #ce2c31;
}

.button.clear:hover.alert:hover:is(.dark *) {
	background-color: #b54548;

	color: #fdbdbe;
}

.button.clear:hover.warning:hover {
	background-color: #fffab8;

	color: #665417;
}

.button.clear:hover.warning:hover:is(.dark *) {
	background-color: #1b180f;

	color: #d5ae39;
}

.button.clear:active.secondary:active {
	background-color: #e0e1e6;
}

.button.clear:active.secondary:active:is(.dark *) {
	background-color: #111113;
}

.button.clear:focus.secondary:focus {
	background-color: #f0f0f3;
}

.button.clear:focus.secondary:focus:is(.dark *) {
	background-color: #5a6169;
}

.button.tiny {
	height: 1.5rem;
}

.button.small {
	height: 2rem;
	padding-bottom: 0.25rem;
	padding-top: 0.25rem;
}

.button.large {
	height: 3rem;
}

.button.button--only-icon {
	width: 2.5rem;
	justify-content: center;
	padding-left: 0;
	padding-right: 0;
}

.button.button--only-icon.tiny {
	width: 1.5rem;
}

.button.button--only-icon.small {
	width: 2rem;
}

.button.button--only-icon.large {
	width: 3rem;
}

.button.link {
	margin: 0;
	height: auto;
	padding: 0;
}

.button.link:hover {
	text-decoration-line: underline;
}
