::ng-deep chat {
	*,
	:before,
	:after {
		box-sizing: border-box;
		margin: 0;
		border-width: 0;
		border-style: solid;
	}

	body {
		height: 100%;
		width: 100%;
		margin: 0;
		padding: 0;
	}

	a {
		color: inherit;
		text-decoration: inherit;
	}

	ol,
	ul,
	menu {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	input::placeholder,
	textarea::placeholder {
		color: #9ca3af;
	}

	img,
	svg {
		display: block;
		vertical-align: middle;
	}
	.rtl {
		direction: rtl;
	}

	kbd.hotkey {
		display: inline-flex;
		flex-shrink: 0;
		user-select: none;
		align-items: center;
		justify-content: center;
		border-radius: 0.25rem;
		line-height: 0.625rem;
		letter-spacing: 0.025em;
	}

	/* Avatar container */
	.avatar-container {
		@apply flex items-center justify-center rounded-full 
		h-10 w-10;
		background-image: linear-gradient(to top, #135899, #135899);
		font-size: 12px;
		color: rgb(142, 200, 246) !important;
		background-image: linear-gradient(
			to top,
			rgb(19, 88, 153),
			rgb(19, 88, 153)
		);
	}

	// TODO: transform this code to primeNG overrides folder.
	side-bar .label-dialog {
		.p-dialog-header {
			display: none;
		}

		.p-dialog-content {
			padding: 0;
		}

		.p-dialog {
			overflow: hidden;
		}
	}
	p-popover button {
		background-color: unset;
		border-color: unset;
		color: unset;
		cursor: pointer;
		padding: 0;
		text-decoration: none;
		transition: none;
	}
}
